.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.activity-menu {
    display: flex;
    justify-content: space-between;
}

.activity__item:not(:last-child) {
    margin-right: 30px;
}

.activity-box {
    position: relative;
    
}

.activity__text {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-accent-color);
    
}