.main-section {
    background-color: #C4C4C4; 
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/main/bg.jpg);
    background-size: cover;
}

.main-section-container {
    padding-top: 200px;
    padding-bottom: 200px;
}


.title-main-section {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-accent-color);
    max-width: 696px;  
    margin: 0 auto;
    display: block;
    align-items: center;
    margin-bottom: 30px;
    
}
