.team {
    background-color: var(--team-background);
}

.team-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-menu__item {
    flex-basis: calc((100% - 120px) / 4);
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--second-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-box-content {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
}

.team__prof {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-accent-color);
}


