.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--third-accent-color);
  
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  fill: #212121;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/modal/icon-check.jpg);
  background-size: contain;
  border: none;

}

.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  margin-right: auto;
  margin-left: auto;
  
}