.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    height: 580px;
    background-color: var(--second-accent-color);
    transform: translate(-50%, -50%);
    
  }

  .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: transparent;
      cursor: pointer;

      fill: black;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

          &:hover,
          &:focus {
            fill: #2196F3;
          }
    }
  



  .close-btn-icon {
      width: 18px;
      height: 18px;
      padding: 0;
  }

