.social-list {
    display: flex;
    justify-content: space-between;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}




.social-list__icon {
    fill: #AFB1B8;

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--second-accent-color);
    }
} 
