:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #FFFFFF;
    --main-section-footer-background: #2F303A;
    --third-accent-color: #757575;
    --team-background: #F5F4FA;
    --footer-tel-mail: rgba(255, 255, 255, 0.6);

}